<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel=”icon” type=”image/x-icon” href=”/path/to/favicon.ico”>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}
        <div class="container">
<!-- Header Container -->
            <div class="header">
                <div class="logo">
                    <a href="#" class="logo">Visit Wonder</a>
                </div>
                <div class="user-name">
                    <p>{{ player_name }}</p>
                </div>
        </div>

<!-- Player data Form -->
        <div class="player-data--container">
            <form id="player-form" action="{{ url_for('play_game') }}" method="post">
                <div class="input-div">
                    <p>Name</p>
                    <label>
                        <input type="text" name="player_name">
                    </label>
                </div>
                <div class="input-div">
                    <p>Email</p>
                    <label>
                        <input type="email" name="player_email">
                    </label>
                </div>
                <div class="btn-data--div">
                    <button type="submit" class="btn-green btn-submit">Play Game</button>
                    <button type="button" class="btn-red btn-cancel">No Thanks</button>
                </div>
            </form>
        </div>

        <form id="player-form" action="{{ url_for('play_game') }}" method="post">
            <label>Difficulty level:</label>
            <select name="difficulty_level" required>
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
            <button type="submit">Play Game</button>
        </form>

<!-- Game Data Container -->
        <h2>Game Data</h2>
        <div class="data-display-container">
            <div class="data">
                <h4>Target</h4>
                <p>Visit <span id="num-target-wonders">7</span> wonders</p>
            </div>
            <div class="data">
                <h4>Destinations Visited</h4>
                <p>You have visited <span id="num-visited-wonders">0</span> wonders</p>
            </div>
            <div class="data">
                <h4>CO2 budget</h4>
                <p id="co2-budget">10000</p>
            </div>
            <div class="data">
                <h4>CO2 spent</h4>
                <p id="co2-spent">0</p>
            </div>
            <div class="data">
                <h4>CO2 available</h4>
                <p id="co2-available">10000</p>
            </div>
            <div class="data">
                <h4>Current Destination</h4>
                <p id="current-destination">Helsinki</p>
            </div>
        </div>

<!-- Header Container -->
        <div class="destinations-container">
            <h2>List of wonders</h2>
            {% for destination_btn in unvisited_destinations %}
                <button class="destination-btn" data-destination="{{ destination }}">Parthenon {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination}}">Easter Island {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Taj Mahal {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Colosseum {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Angkor {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Angkor {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Petra {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Machu Picchu {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Great Wall of China {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Pyramids of Giza {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Stonehenge {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Hagia Sophia {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Chichen Itza {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Harappa {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Persepolis {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">The Mesquite of Córdoba{{ destination }}</button>
            {% endfor %}
        </div>
        <div id="map">

        </div>

    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    {% endblock %}
</body>

{% block content %}
    <form action="#" method="post">
        <p>Name</p>
        <p><input type="text" name="nm"></p>
        <p><input type="text" value="submit"></p>
    </form>
{% endblock %}