{% extends 'base.html' %}

{% block title %} Welcome Page {% endblock %}

{% block body %}
    <div class="welcome-container">
        <h2>Welcome to Game Visit Wonder!!!</h2>
        <p>Player will win the game if players visit a specific number of destinations under allocated
            CO2 budget. CO2 budget and the number of destinations to visit are based on the selection of the game difficulty level. Game difficulty
            is easy, medium, and hard.</p>
        <h3>Game difficulty:</h3>
        <ul>
            <li>Easy:
                <ul>
                    <li>Target destinations to visit: 6</li>
                    <li>CO2 Budget: 10,000</li>
                </ul>
            </li>
            <li>Medium:
                <ul>
                    <li>Target destinations to visit: 9</li>
                    <li>CO2 Budget: 12,000</li>
                </ul>
            </li>
            <li>Hard:
                <ul>
                    <li>Target destinations to visit: 12</li>
                    <li>CO2 Budget: 14,000</li>
                </ul>
            </li>
        </ul>
        <a href="{{ url_for('player_info') }}" class="start_game--button">Let's play</a>
    </div>
{% endblock %}
