{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block body %}
    <div class="container">
<!-- Header Container -->
            <div class="header">
                <div class="logo">
                    <a href="#" class="logo">Visit Wonder</a>
                </div>
                <div class="user-name">
                    <p>{{ player_name }}</p>
                </div>
        </div>
    
<!-- Game Data Container -->
        <h2>Game Data</h2>
        <div class="data-display-container">
            <div class="data">
                <h4>Target</h4>
                <p>Visit <span id="num-target-wonders">7</span> wonders</p>
            </div>
            <div class="data">
                <h4>Destinations Visited</h4>
                <p>You have visited <span id="num-visited-wonders">0</span> wonders</p>
            </div>
            <div class="data">
                <h4>CO2 budget</h4>
                <p id="co2-budget">10000</p>
            </div>
            <div class="data">
                <h4>CO2 spent</h4>
                <p id="co2-spent">0</p>
            </div>
            <div class="data">
                <h4>CO2 available</h4>
                <p id="co2-available">10000</p>
            </div>
            <div class="data">
                <h4>Current Destination</h4>
                <p id="current-destination">Helsinki</p>
            </div>
        </div>

<!-- Header Container -->
        <h2>List of wonders</h2>
        <div class="destinations-container">
            {% for destination in destinations_list %}
                <button class="destination-btn" data-destination="{{ destination }}">Parthenon {{ destination  }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Easter Island {{ destination  }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Taj Mahal {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Colosseum {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Angkor {{ destination  }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Angkor {{ destination  }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Petra {{ destination  }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Machu Picchu {{ destination }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Great Wall of China {{ destination  }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Pyramids of Giza {{ destination}}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Stonehenge {{ destination  }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Hagia Sophia {{ destination  }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Chichen Itza {{ destination  }}</button>
                <button class="destination-btn" data-destination="{{ destination }}">Harappa {{ destination  }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">Persepolis {{ destination  }}</button>
                <button class="destination-btn" data-destination="{{ destination  }}">The Mesquite of Córdoba{{ destination  }}</button>
            {% endfor %}
        </div>
        <div id="map">

        </div>

    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}
