{% extends 'base.html' %}

{% block title %} Play Game {% endblock %}

{% block body %}
    <div class="game-container">
        <h1>Play Game</h1>
        <h2>Game Data</h2>
        <div class="game-data-display-container">
            <div class="data">
                <h4>CO2 Budget</h4>
                <p><span id="budget">{{ co2_budget }}</span></p>
            </div>
            <div class="data">
                <h4>CO2 Spent</h4>
                <p ></p>
                <p><span id="spent">{{ total_co2_spent }}</span></p>
            </div>
            <div class="data">
                <h4>Co2 Available</h4>
                <p><span id="available">{{ co2_available }}</span></p>
            </div>
            <div class="data">
                <h4>Number of Visited Destinations</h4>
                <p><span id="visited">{{ num_visited_destinations }}</span></p>
            </div>
            <div class="data">
                <h4>Target Number of Destinations</h4>
                <p ></p>
                <p><span id="target">{{ game_win_threshold }}</span></p>
            </div>
            <div class="data">
                <h4>Current Location</h4>
                <p><span id="location">{{ current_location_name }}</span></p>
            </div>
            <div class="data">
                <h4>Last Trip Distance</h4>
                <p ></p>
                <p><span id="distance">{{ distance_in_kilometer }}</span></p>
            </div>
        </div>
    </div>
    <div class="destinations-container">
        {% if unvisited_destinations %}
            {% for destination in unvisited_destinations %}
                {% for key, value in destination.items() %}
                    <button type="button" class="btn-destination"
                            data-destination="{{ key }}"
                            name="{{ value }}"
                            value="{{ key }}">
                        {{ value }}
                    </button>
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>No unvisited destinations.</p>
        {% endif %}
    </div>




    <div id="map">

    </div>

    <div id="gameResultModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 id="gameResultModalLabel"></h2>
            <button class="btn btn-primary" onclick="playAgain()">Play Again</button>
        </div>
    </div>



{% endblock %}